/*
 * headerlink.css for https://github.com/Naereen/uLogMe/
 * MIT Licensed, https://lbesson.mit-license.org/
*/
/* The ¶ symbol is visible when the mouse is over the title or the paragraph */
h1:hover > a.headerlink, h2:hover > a.headerlink, h3:hover > a.headerlink, h4:hover > a.headerlink, h5:hover > a.headerlink, h6:hover > a.headerlink, dt:hover > a.headerlink , p:hover > a.headerlink {
    visibility: visible;
}
/* The ¶ symbol is underlined, like a "regular" link */
a:hover {
    text-decoration: underline;
}
/* The ¶ symbol is red, small, and hidden by default */
a.headerlink {
    color: #c60f0f;
    font-size: 0.7em;
    padding: 0 6px 0 6px;
    text-decoration: none;
    visibility: hidden;
}
    /* Inverse the color when the mouse is over the ¶ symbol */
    a.headerlink:hover {
        background-color: #c60f0f;
        color: white;
    }

h3 button, p button {
    float: right;
    margin-right: 2%;
}
